conky.config = {
    background = false,
    font = 'FuraCode Nerd Font:pixelsize=17',
    use_xft = true,
    xftalpha = 1.0,
    update_interval = 1,
    total_run_times = 0,
    own_window = true,
    own_window_transparent = true,
    own_window_type = 'dock',
    own_window_class = 'Conky',
    own_window_argb_visual = true,
    own_window_argb_value = 255,
    own_window_colour = '000000',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    double_buffer = true,
    draw_shades = false,
    draw_outline = false,
    draw_borders = false,
    draw_graph_borders = true,
    stippled_borders = 0,
    border_width = 0,
    alignment = 'bottom_right',
    gap_x = 75,
    gap_y = 115,
    use_spacer = 'none',
    uppercase = true,
};

conky.text = [[
    Su Mo Tu We Th Fr Sa
           1  2 ${color } 3 ${color} 4 ${color #888} 5 ${color}
    ${color #888} 6 ${color} 7  8  9 10 11 ${color #888}12 ${color}
    ${color #888}13 ${color}14 15 16 17 18 ${color #888}19 ${color}
    ${color #888}20 ${color}21 22 23 24 ${color #33daff}25 ${color #888}26 ${color}
    ${color #888}27 ${color}28 29 30 31
    ]];
